:root {
    --card-bg-color: #382F47;
    --accent-yellow: #D7841E;
    --text-color: #f5f1e3;
    --solid-black: #020202;
}

body {
    color: var(--text-color);
    background-image: url("https://images-assets.nasa.gov/image/iss073e0080327/iss073e0080327~large.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--solid-black);
    background-position: center;
}

#grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#grid-container>*:not(.subset):not(.picture) {
    width: 300px;
    height: fit-content;
    margin: 30px;
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: 15px;
}

.picture {
    border-radius: 50%;
    border: solid var(--accent-yellow) 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 45px; 
    width: 300px;
    height: 300px;
    background-color: var(--card-bg-color);
}

.picture-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50%);
    object-position: top;
    zoom: 200%;
}

.picture:hover {
    box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.356);
}

#moon-phase-info,
#moon-illum-perc {
    margin: 10px;
}

h2>a {
    text-decoration: none;
    color: var(--text-color);
}

.clickable-project:hover {
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.356);
}

a {
    color: var(--accent-yellow);
    text-decoration: none;
}

ul {
    padding-left: 20px
}

.subset {
    background-color: none;
    padding: 0;
    margin: 0;
}

.subset>div {
    background-color: var(--card-bg-color);
    border-radius: 15px;
    width: 300px;
    height: fit-content;
    margin: 30px;
    padding: 20px;
}

footer{
    position: fixed;
    bottom: 0px;
    right: 10px;
}